body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1282a2;
}

h1{
    text-align: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
  }
  .cell {
    background-color: #e0fbfc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  .cell:hover {
    background-color: #b2f7ef;
  }
  